@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  --main-primary-dark-blue: hsl(233, 47%, 7%);
  --main-primary-light-blue: hsl(244, 38%, 16%);
  --main-primary-soft-violet: hsl(277, 64%, 61%);
  --main-primary-soft-violet-transparent: hsla(277, 64%, 61%, 0.45);
  --main-neutral-light: hsl(0, 0%, 100%);
  --main-neutral-light-transparent-1: hsla(0, 0%, 100%, 0.75);
  --main-neutral-light-transparent-2: hsla(0, 0%, 100%, 0.6);
}

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */
*,
*::before,
*::after,
body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  background-color: var(--main-primary-dark-blue);
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
}

.card {
  background-color: var(--main-primary-light-blue);
  height: 675px;
  border-radius: 10px;
  width: 300px;
  position: relative;
  z-index: 1;
}

.card .image {
  height: 220px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(150, 36, 221, 0.55))), url("../images/image-header-mobile.jpg");
  background: linear-gradient(rgba(150, 36, 221, 0.55)), url("../images/image-header-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card h1 {
  font-family: "Lexend Deca", sans-serif;
  color: var(--main-neutral-light);
  font-size: 22px;
  text-align: center;
  padding: 0 1.5em;
  font-weight: 700;
  margin-top: 1.3em;
}

.card h1 > span {
  font-size: 24px;
  color: var(--main-primary-soft-violet);
  font-weight: 700;
}

.card .discover {
  margin-top: 1em;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0 1.5em;
  color: var(--main-neutral-light-transparent-2);
  font-size: 15px;
  letter-spacing: 1px;
}

.card .info {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .info > div {
  margin: 1em auto;
}

.card .info > div > p {
  color: var(--main-neutral-light-transparent-1);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.card .info > div > small {
  color: var(--main-neutral-light-transparent-2);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 10px;
}

.attribution {
  position: absolute;
  color: var(--main-primary-soft-violet);
  width: 90%;
  bottom: 16px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  z-index: 0;
}

.attribution a {
  color: var(--main-neutral-light-transparent-1);
  text-decoration: none;
  font-size: 12px;
}

.attribution a > span {
  color: #05d8e8;
  font-size: 12px;
}

@media only screen and (min-width: 1440px) {
  .card {
    width: 1110px;
    height: 450px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .card .image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 /2;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
  }
  .card .card-content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 /2;
    margin: 4rem 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .card .card-content h1,
  .card .card-content h1 > span {
    font-size: 2.3rem;
    text-align: left;
    padding: 0;
    margin: 0;
  }
  .card .card-content .discover {
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
  }
  .card .card-content .info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 80%;
  }
  .card .card-content .info div {
    margin: 0;
    text-align: left;
  }
  .card .card-content .info small {
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=main.css.map */